<div class="display-4 pl-4 pt-4 text-white" *ngIf="movies.length==0 && this.showMovies">NO MOVIES PRESENT!</div>
<div class="px-4 d-flex flex-col m-0 flex-wrap" *ngIf="showMovies">
    <div class="media py-4 col-sm-6 text-white" *ngFor="let movie of movies">
        <img src="{{movie.imageUrl}}" class="align-self-center img-thumbnail img-fluid mr-3" style="width: 30%;">
        <div class="media-body">
          <h4>{{movie.title}}</h4>
          <p>{{movie.description}}</p>
          <p class="display-4">{{movie.price | currency:"₹"}}</p>
          <div>
            <a><button class="btn btn-success mr-2" (click)="open(content,movie.id)"><strong>Details</strong></button></a>
            <a *ngIf="isUser() || !isAdmin()" (click)="bookMyShow(movie.id)"><button class="btn btn-danger text-white"><strong>Book My Show</strong></button></a>
            <a *ngIf="isAdmin()" (click)="DeleteMovie(movie.id)"><button class="btn btn-warning text-white"><strong>Delete Movie</strong></button></a>
          </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><span>{{movie.id}}.</span>{{movie.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex">
      <img src="{{movie.imageUrl}}" alt="{{movie.title}}" style="width: 40%;" class="img-fluid">
      <div class="ml-4 pl-2">
        <h3 class="pb-4">{{movie.description}}</h3>
        <h4>Price: <strong>{{movie.price | currency:"₹"}}</strong></h4>
        <h6>Language: <strong>{{movie.language}}</strong></h6>
        <h6>Duration: <strong>{{movie.duration }}mins</strong></h6>
        <h6>Rating : <strong>{{movie.rating}} ✦</strong></h6>
        <h6>Show: <strong>{{ movie.fromTime | date }}</strong></h6>
      </div>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>