<div class="ml-4 mt-4">
    <table class="table table-striped bg-black col-sm-11"> 
        <thead class="text-white">
            <tr>
                <th>UserName/Email</th>
                <th>Password</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-white">
            <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.password}}</td>
                <td><button class="btn btn-primary font-size-13px p-1" (click)="DeleteUser(user.userName)">Delete</button></td>
                <td><button class="btn btn-warning p-1" (click)="open(content,user.userName)">Change Pass</button></td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
        <span aria-hidden="true" class="text-white">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="currentpass">Curret Password</label>
            <input type="password" formControlName="currentpass" class="form-control">
            <div class="text-warning" *ngIf="checkInvalid('currentpass')">Required</div>
        </div>
        <div class="form-group">
            <label for="newpass">New Password</label>
            <input type="password" formControlName="newpass" class="form-control">
            <div class="text-danger" *ngIf="checkInvalid('newpass')">Required</div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Change</button>
        </div>
      </form>
    </div>
  </ng-template>