<div class="display-4 ml-4 mt-4 text-white pl-1" *ngIf="showForm">ADMIN LOGIN</div>
<form
  class="ml-3 mt-2 col-sm-4 text-white"
  [formGroup]="formGroup"
  (ngSubmit)="submitCredentials()"
  *ngIf="showForm"
>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" />
    <div class="text-danger">
      <div *ngIf="checkValid('email')">
        Email is required
      </div>
      <div *ngIf="email.hasError('email')">Invalid Email</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" />
    <!-- ((formGroup.touched || password.touched) && password.errors)||  -->
    <div
      *ngIf="checkValid('password')"
      class="when-invalid"
    >
      Password is required
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

<router-outlet></router-outlet>
